In [ ]:
#Importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io
import math

In [ ]:
#Cargamos el archivo requerido 
from google.colab import files
files.upload()

In [ ]:
#convertimos el excel en dataframe
data=pd.read_excel('microretailer_mit_lift_lab.xlsx')
data

In [ ]:
#verificamos informacion del data frame
data.info(1)

In [ ]:
#Como tenemos datos tipo string, float e int, debemos de separarlos para poder aplicar correctamente lo métodos de valores nulos,
#de manera que crearemos un filtro con las variables numéricas
filtro1=data.iloc[ : , [5,6,13,14,16,21,22,29,31,33,41,42,43,44,45,49,51,56,57,58,59,60,78,90,104]] #columnas numericas

In [ ]:
#Verificamos que todos los datos sean numéricos
filtro1.info(1)

In [ ]:
#corroboramos valores nulos por columna
valores_nulos=data.isnull().sum()
valores_nulos

In [ ]:
#Hacemos una copia
data2=filtro1.copy()

In [ ]:
#corroboramos valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#observando rápidamente los datos que hay en la base de datos, se puede ver que la mejor opción es una mediana, ya que la mayorría de los datos 
#rondan por el mismo valor, y si existe algun outlayers significativo este puede mover el promedio, en cambio con la media nos aseguramos que los valores sustituidos
#sean más confiables 
#dato extra: lo redondeamos sin decimales ya que conforme a los datos, es ilógico tener decimales 
data3=data2.fillna(round(data2.median()))

In [ ]:
#corroboramos valores nulos por columna
valores_nulos=data3.isnull().sum()
valores_nulos

In [ ]:
#gracias a el conteo de los valores nulos, nos damos cuenta que hay columnas que en su totalidad son valores nulos, de manera que 
#lo ideal es eliminarlas, ya que no aportan nada de información
data4= data3.drop(['271_card_fee',"274_platform_fee","273_platform_extra_charge","275_platform_days_receive_money"],axis=1)
data4

In [ ]:
#corroboramos valores nulos por columna
valores_nulos=data4.isnull().sum()
valores_nulos

Outlayers

In [ ]:
#utilizaremos el método de desviación estándar ya que con las tres desviaciones setándar hacia la izquierda y a la derecha, abarcamos el 95% de los datos totales 
#de manera que al tratarse de una base de datos no tan grande, pues es ideal únicamente cambiar los outlayers que sean muy significativos, ya que con este método
#los l{imites son más grandes
y=data4
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

In [ ]:
#Encontramos Ouliers
outliers= data4[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

In [ ]:
#Obtenemos datos limpios
data_clean4= data4[(y<=Limite_Superior)&(y>=Limite_Inferior)]
data_clean4

In [ ]:
#Cantidad de outlayers por columna 
valores_nulos=data_clean4.isnull().sum()
valores_nulos

In [ ]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean", ya que en primera instancia al haberlos cambiado por la mediana (los nulos), ahora nos conviene 
#tomar el promedio de los datos 

data_clean5=data_clean4.copy()
data_clean5=data_clean5.fillna(round(data_clean4.mean()))
data_clean5

In [ ]:
#corroboramos valores nulos por columna
valores_nulos=data_clean5.isnull().sum()
valores_nulos

In [ ]:
#Una vez limpios los datos numéricos, ahora toca filtrar los datos tipo objeto o stringg, así que los almacenamos en una variable 
filtro2=data.iloc[ : , [0,1,2,3,4,7,8,9,10,11,12,15,17,18,19,20,23,24,25,26,27,28,30,32,34,35,36,37,38,39,40,46,47,48,50,52,53,54,55,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,79,80,81,82,83,84,85,86,87,88,89,91,92,93,94,95,96,97,98,99,100,101,102,103]]

In [ ]:
#comprobamos que tengamos puros datos object
filtro2.info(1)

In [ ]:
data5=filtro2.copy()

In [ ]:
#corroboramos valores nulos por columna
valores_nulos=data5.isnull().sum()
valores_nulos

In [ ]:
#al tratarse de datos tipo object, la mejor opción será sustutuir los valores nulos con un foward fill y un back fill, usando los dos, porque inspeccionando 
#los datos observé que hay datos nulos al iniciar, por lo que si solo usamos un forwrdfill no se sustituirán todos los valores nulos, y al utilizar estos dos metodos
#nos aseguramos que todos los valores nulos sean remplazados 
data6=data5.fillna(method="ffill")
data6=data6.fillna(method="bfill")

In [ ]:
#corroboramos valores nulos totales
valores_nulos=data6.isnull().sum().sum()
valores_nulos

In [ ]:
#Una vez limpios todos los datos, es momento de juntar los datos tanto numéricos como object 
datafinal=pd.concat([data_clean5,data6],axis=1)
datafinal.info(1)

In [ ]:
#Ultima comprobación de valores nulos totales 
valores_nulos=datafinal.isnull().sum().sum()
valores_nulos

In [ ]:
#Convertir DataFrame a excel
datafinal.to_excel("microretailer_mit_lift_lab(limpio).xlsx")
#descargar archivo filtrado en xlsx
from google.colab import files 
  
  
files.download("microretailer_mit_lift_lab(limpio).xlsx")